.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
}

.navbar-items p {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.main-content {
    color: white;
    padding: 57px 27px;
    text-align: left;
}

.main-content h1 {
    text-align: left;
    font-size: 40px;
}

.main-content li {
    padding-block: 10px 10px;
}

.main-content li::marker {
    font-size: 1.2rem;
    color: #61dafb;
}

.footer p{
  color:  white;
}
