body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282D35;
  background-image: url("../public/logo512.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-blend-mode: luminosity;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

