.nav-items{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  padding: 10px;
}

.nav-logo {
  width: 60px;
}
